body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 50px;
    background-color: rgb(226, 178, 201);
   

}
h1 {
    color: #ff0033;
    text-align: center;
   
}

p {
    color: #070707 }
